@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
}
.app__container {
  max-width: 960px;
  margin: 0 auto;
}
.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form {
  /* margin: 10px auto; */
  text-align: center;
  display: flex;
  justify-content: center;
}

.form__wrapper {
  display: flex;
  justify-content: center;
}

.form__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form__upload {
  color: var(--primary);
  display: flex;
  align-items: center;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 28px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}
label:hover {
  background: var(--primary);
  color: white;
}

.output {
  /* height: 60px; */
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
  cursor: pointer;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
}

.modal__content {
  color: black;
  padding: 10px;
  max-width: 570px;
  /* margin-top: 60px; */
  /* display: flex;
  justify-content: center; */
  /* text-align: center; */
  /* scrollbar-width: none; */
  /* position: relative; */
  margin: 60px auto 0 auto;
  flex-direction: column;
  overflow-y: auto;
  max-height: 90vh;
  background-color: white;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

@media (max-width: 640px) {
  .modal__content {
    max-width: 80vw;
  }
}
.modal__content p {
  color: #9d9ca1;
  font-size: 20px;
  line-height: 28px;
}

.modal__content::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.modal__content::-webkit-scrollbar-track {
  background: rgb(231, 231, 231);
}
.modal__content::-webkit-scrollbar-thumb {
  background-color: rgb(195, 195, 195);
  border-radius: 5px;
}

.storie__text {
  color: #9d9ca1;
  font-size: 20px;
  line-height: 28px;
  margin: 20px 0;
}

.storie__video {
  height: 100%;
  width: 100%;
  position: relative;
}

.storie__video video {
  width: 100%;
}

.storie__video_paused::before {
  width: 160px;
  height: 160px;
  background-image: url("./images/play-icon-white-png.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  z-index: 999;
  transition: 0.7s ease;
  /* color: white; */
  /* font-size: 96px; */
  /* box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2); */
}
